body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  background: #1c1c1c;
}

.tabs button {
  flex: 1;
  padding: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
}

.tab {
  display: none;
  padding: 20px;
}

.tab.active {
  display: block;
}

img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 10px 0;
}

button {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  background: #2f80ed;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}
