body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #151515;
}

.nav button {
  flex: 1;
  padding: 15px;
  font-size: 18px;
  background: none;
  border: none;
  color: white;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar, .profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.balance {
  font-weight: bold;
}

.soon {
  opacity: 0.5;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2a2a2a;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
}

.modal-content {
  background: #151515;
  margin: 30% auto;
  padding: 20px;
  width: 80%;
  border-radius: 15px;
}
